.style-solar-system {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  justify-content: space-around;
  margin: 50px;
}

.style-solar-system img {
  transform: scale(0.8);
  transition: all ease 0.5s;
  width: 100px;
}

.style-solar-system img:hover {
  cursor: pointer;
  transform: scale(1.5);
  width: 100px;
}